<a href="https://colab.research.google.com/github/bosunKwak/BigData/blob/main/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Enumerate
num = list(range(1,11,2))
print(num)
for i, n in enumerate(num):
  # i에 index, n에 해당 값
  num[i] = n*2

print(num)

[1, 3, 5, 7, 9]
[2, 6, 10, 14, 18]

In [4]:
# comprehension
num = [1,2,3,4,5]
c1 = [i*2 for i in num]
print(c1)

c2 = [i*2 for i in num if i<5]
print(c2)

[2, 4, 6, 8, 10]
[2, 4, 6, 8]

In [5]:
# function의 기능 및 사용법을 알 수 있음
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
# class & instance

# class
class MyCalc:
  # class가 생성될 때 자동으로 실행 (init)
  def __init__(self, x, y):
    self.x = x # self : 객체 자신
    self.y = y

  def my_add1(self, a, b):
    return a+b
  def my_add2(self):
    return self.x+self.y

# instance
ins1 = MyCalc(1,2)
ins2 = MyCalc(5,10)

res1 = ins1.my_add2()
res2 = ins1.my_add1(2,5)
res3 = ins2.my_add2()
res4 = ins2.my_add1(2,5)
print(res1)
print(res2)
print(res3)
print(res4)

3
7
15
7